* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    min-height: 100svh;
}





/* ============================================== em =============================================== */
.em-Box{
    padding: 20px;
    font-size: 20px !important;
    border: 1px solid black !important;
  }
  
 .em-Box span {
    font-size: 0.5em;
  }


/* ============================================== rem =============================================== */
html {
  font-size:16px;
}

.rem-div {
  
  font-size: 1.8rem;
  border: 1px solid black;
}

.rem-div .rem-top-div {
  font-size: 0.8rem;
  border: 1px solid red;
}


/* ============================================== vw =============================================== */
.vw-h4{
  font-size: 12vw;
}

/* ============================================== vh =============================================== */
.vh-h4{
  font-size: 12vh;
}

/* ============================================== vmin =============================================== */
.vmin-h4{
  font-size: 12vmin
}
/* ============================================== vh =============================================== */
.vmax-h4{
  font-size: 12vmax
}

/* ============================================== section-1 END =============================================== */
/* ============================================== section-1 END =============================================== */
/* ============================================== section-1 END =============================================== */
/* ============================================== section-1 END =============================================== */
/* ============================================== section-1 END =============================================== */